<div style="
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
  ">
    <div class="card-divisions">
        <h1>Create New Client</h1>
        <div class="line"></div>
        <div class="row justify-content-around align-items-center">
            <form class="container-form w-100 d-flex search-text" [formGroup]="customerFormGroup">
                <div class="input-form">
                    <label>Name</label>
                    <div style="display: flex; flex-direction: column; width: 100%;">
                        <input appAutofocus placeholder="" formControlName="name" type="text" required
                            class="inputOutline" />
                        <mat-error
                            *ngIf="customerFormGroup.get('name')?.hasError('required') && customerFormGroup.get('name')?.touched">
                            Este campo es obligatorio
                        </mat-error>
                    </div>
                </div>
                <div class="input-form">
                    <label>Phone</label>
                    <div style="display: flex; flex-direction: column; width: 100%;">
                        <input placeholder="" formControlName="phone" type="number" required class="inputOutline" />
                        <mat-error
                            *ngIf="customerFormGroup.get('phone')?.hasError('required') && customerFormGroup.get('phone')?.touched">
                            RequieRequiredred
                        </mat-error>
                    </div>
                </div>
                <div class="input-form">
                    <label>E-mail</label>
                    <div style="display: flex; flex-direction: column; width: 100%;">
                        <input placeholder="" formControlName="email" type="text" required class="inputOutline" />
                        <mat-error
                            *ngIf="customerFormGroup.get('email')?.hasError('required') && customerFormGroup.get('email')?.touched">
                            Required
                        </mat-error>
                        <mat-error
                            *ngIf="customerFormGroup.get('email')?.hasError('email') && customerFormGroup.get('email')?.touched">
                            Format
                        </mat-error>
                    </div>
                </div>
                <div class="input-form">
                    <label>Date</label>
                    <div style="display: flex; flex-direction: column; width: 100%;">
                        <input placeholder="" formControlName="addedDate" type="text" required class="inputOutline"
                            [matDatepicker]="picker_start" style="padding-left: 35px; max-width: 370px;" />
                        <mat-datepicker-toggle matSuffix [for]="picker_start"></mat-datepicker-toggle>
                        <mat-datepicker #picker_start></mat-datepicker>
                        <mat-error
                            *ngIf="customerFormGroup.get('addedDate')?.hasError('required') && customerFormGroup.get('addedDate')?.touched">
                            Required
                        </mat-error>
                    </div>
                </div>

                <button mat-raised-button color="primary" class="icon"(click)="save()" style="width: 40px;">
                        OK
                    </button>
            </form>
        </div>
    </div>
</div>