<ngx-loading [show]="configService.loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="container-home">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav [opened]="configService.menuView" disableClose
            [mode]="configService.screenWidth <= 880 ? 'over' : 'side'" class="container-menu-home">
            <app-menu></app-menu>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="container-pages">
                <div class="container-button" *ngIf="configService.screenWidth <= 880">
                    <img src="./../assets/img/logo.png" alt="" (click)="configService.toggle()">
                </div>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>