<div style="
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
  ">
    <div class="card-divisions row justify-content-around align-items-center">
        <div class="container-scroll">
            <div class="container-table">
                <div class="container-actions">
                    <button mat-raised-button color="primary" class="icon" [ngStyle]="{ transform: 'scale(0.8)' }" (click)="createNew()">
                        <mat-icon>add</mat-icon>
                        New
                    </button>
                    <button mat-raised-button color="primary" class="icon" [ngStyle]="{ transform: 'scale(0.8)' }">
                        <mat-icon>download</mat-icon>
                        Export
                    </button>
                </div>
                <form class="container-filters w-100 d-flex search-text" [formGroup]="filterKeyFormGroup" style="font-size: 10px">
                    <mat-form-field>
                        <input matInput appAutofocus placeholder="Enter shared key" formControlName="key" type="text"
                            required class="inputOutline" />
                        <button mat-button color="primary" class="icon" [ngStyle]="{ transform: 'scale(0.8)' }" (click)="loadData('key')" matSuffix>
                            Search
                        </button>
                        
                    </mat-form-field>
                </form>
                <div class="table-container">
                <table mat-table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="key">
                        <th mat-header-cell *matHeaderCellDef> Shared key </th>
                        <td mat-cell *matCellDef="let element">{{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Business ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> E-mail </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef> Phone </th>
                        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Data Added</th>
                        <td mat-cell *matCellDef="let element"> {{element.addedDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" class="icon" [ngStyle]="{ transform: 'scale(0.8)' }"
                                (click)="handleAction(element.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>